.wrapper{
    display: flex;
    flex-flow: row wrap;
    min-width: 800px;
    margin: 0 auto;
    padding: 0 100px;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header{
    background-color: blue;
}

.main{
    flex: 4 0px;
    background-color: red;
}

.footer{
    background-color: green;
}

.nav{
    background-color: yellow;
}

.aside{
    flex: 1 auto;
    background-color: pink;
}