.wrapper{
    display: flex;
    flex-flow: row wrap;
    min-width: 800px;
    margin: 0 auto;
    padding: 0 100px;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

ul{
    display: flex;
    justify-content: space-between;
}


.header{
    background-color: blue;
}

#navPostImages{
    position: relative;
}
#navPostImages ul{
    justify-content: flex-start;
}

.fixedWrapper{
    position: absolute;
}

.thumbnailWrapper{
    height: 50px;
    width: 50px;
    overflow: hidden;
    opacity: .75;
    float: left;
    transition: width 1s ease, height 1s ease;
}

.thumbnailWrapper:hover {
    opacity: 1.0;
    height: 100px;
    width: 100px;
}

.nav{
    background-color: yellow;
}

.main{
    flex: 4 0px;
    background-color: red;
}

.aside{
    flex: 1 auto;
    background-color: pink;
}

.footer{
    background-color: green;
    text-align: center;
}